{{define "header"}}
<!--<nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom navbar-dark bg-dark">-->
<!--    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-decoration-none">-->
<!--&lt;!&ndash;        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>&ndash;&gt;-->
<!--        萌宠世界-->
<!--    </a>-->

<!--    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">-->
<!--        <li><a href="#" class="nav-link px-2">首页</a></li>-->
<!--        <li><a href="#" class="nav-link px-2">影集</a></li>-->
<!--        <li><a href="#" class="nav-link px-2">发现</a></li>-->
<!--        <li><a href="#" class="nav-link px-2">联系我们</a></li>-->
<!--        <li><a href="#" class="nav-link px-2">招聘</a></li>-->
<!--    </ul>-->

<!--    <div class="col-md-3 text-end">-->
<!--        <button type="button" class="btn btn-outline-primary me-2">Login</button>-->
<!--        <button type="button" class="btn btn-primary">Sign-up</button>-->
<!--    </div>-->
<!--</nav>-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">萌宠🐶世界</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav col-md-9">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">博客</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">产品</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">影集</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">发现</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
            <div class="col-md-3 text-end">
                <button type="button" class="btn btn-outline-primary me-2">登录</button>
                <button type="button" class="btn btn-primary">注册</button>
            </div>
        </div>
    </div>
</nav>
{{end}}